= form_with model: @article, local: true do |form|
  - if @article.errors.any?
    #error_explanation
      %span
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  %div
    = form.label :title
    = form.text_field :title
  %div
    = form.label :text
    = form.text_area :text
  %div
    = form.submit