%hr
= link_to 'Create new article', new_article_path
%hr
%h3 Articles
- @articles.each do |article|
  %details
    %summary= article.title
    %p
      %strong Title:
      = article.title
    %p
      %strong Text
      = article.text
    = link_to '> Read', article_path(article)
  %hr