%h2
  %strong Title: 
  = @article.title

%p= @article.text
= link_to '< Back', articles_path
= link_to 'Edit', edit_article_path(@article)
= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }
